.checkItems {
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
  }
  .checked-item,
  .not-checked-item {
    margin-left: 10px;
  }
  .checked-item {
    text-decoration: line-through;
  }

.hero1{
  background-image: url("./../public/Hero2.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  margin-bottom: 2rem;
}
.hero2 {
  background-image: url("./../public/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  margin-bottom: 2rem;
}

.centrar-1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 